

#content{
	float:left;
	display:inline-block;
}
#map{
	float:left;
}
#chart{
	display: none;
}

#slider_A{
	color:#ff0000;
}

#slider_A_label{
	color:#ff0000;
}

#slider_B{
	color:#0000ff;
}


#slider_B_label{
	color:#0000ff;
}

body {
	font-family: sans-serif;
}

.color-swatch{
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 10px;
}

.category-wrapper{
	display: inline-block;
	min-width: 200px;
}