

#content{
	float:left;
	display:inline-block;
}
#map{
	float:left;
}
#chart{
	display: none;
}

#slider_A{
	color:#ff0000;
}

#slider_A_label{
	color:#E84743;
}

#slider_B{
	color:#0000ff;
}


#slider_B_label{
	color:#2276B5;
}

.color-swatch{
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 3px;
}

.category-wrapper{
	display: inline-block;
	min-width: 200px;
}


div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;					
    height: 40px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: #EBEC5C;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
}		

#time-of-day-slider{
	margin-top: 10px;
}